@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

.intro {
    height: 60vh;
    background-color: #7c2142c5;
    margin: 3rem 8rem 2rem 8rem;
    padding: 6rem 8rem;
    border-radius: 2rem;
    /* border-top-right-radius: 5em; */
    border-bottom-right-radius: 15em;
    color: white;
    text-align: left;
}

.intro h1 {
    font-family: 'Alkatra', cursive;
    font-size: 4rem;
}

.home-register,
h5,
h4,
h3,
h2 {
    font-family: 'Raleway', sans-serif;
}

h5 {
    margin-top: 0.5rem;
}

.container-box {
    margin: 0 10rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.row-0 {
    margin: 2.5em 0;
}

.col-8 {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1em 5em;
}

.col-4 {
    max-height: 20em;
}

.book {
    background-color: #dde1f450;
}

.child-vac {
    background-color: #f9d3e450;
}

.record {
    background-color: #c4e5d150;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    justify-content: space-around;
    align-items: center;
    background-color: #0c0c0c;
    color: #fff;
    margin: 0;
    padding: 0.5em 1.5em 0 0.5em;
    text-align: right;
    font-size: small;
}

.footer img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}