/* .table {
    max-width: 70%;
    margin: 0.5em 15%;
} */

.btn {
    margin: 0;
}

.add-btn {
    width: 10em;
    color: #198754;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #198754;
    color: #fff;
}

.active-btn {
    background-color: #198754;
    color: #fff;
}

.book-slot {
    max-width: 8rem;
}

.center-card {
    justify-content: center;
    align-items: center;
    background-color: rgba(195, 195, 195, 0.554);
}